@charset "utf-8";

/* Table Style */

table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: rgb(216, 227, 255);
    border: 2px solid black;
    
}

th, td, tr {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color:black;
    color: white;
}

.highlight {
    background-color: rgb(240,240,240);
}

.banded {
    background-color: rgb(255, 253, 253);
}